* {
    margin: o;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* corpo da pagina */
.body-bd {
    background: #ececec;
    color: #131313;
    min-width: 320px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*header*/

header {
    background: #fff;
}

.header-primeiro {
    display: flex;
    align-items: center;
    background-color: #055597;
    height: 44px;
    justify-content: space-between;
}

.header-primeiro img {
    padding: 4px 8px;
    width: 12rem;
}

.header-user{
   
    text-align: center;
    margin-right: 0.5rem;
    border: 1px solid #000;
    height: 1.5rem;
}
.header-user p{
    color: #ffffff;
    padding: 1px 1rem 0.5rem 1.5rem;
}

.header-user i{
    font-size: 15p;
    position: relative;
}

.header-segundo {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(182, 182, 182);
}

.btn-header-segundo {
    background-color: #055597;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* Estilo resetado*/
a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

/* Conteudo principal*/
.region-list {
    min-width: 50px;
    min-height: 50px;
    background-color: #fff;border: 1px solid rgb(182, 182, 182);
    margin: 1rem 0;
}

/* Footer */
.footer-bg {
    color: rgb(0, 0, 0);
    margin-top: 5px;
    background: transparent;
    padding: 1rem 0rem 2px 0px;
    border: 1px solid rgb(199, 199, 199);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: DavidLibre-Regular;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/* ======================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.icons {
    list-style: none;
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    outline: 2px solid rgb(0, 0, 0);
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
    color: #f1f1f1;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--facebook:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;

}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

@media (max-width: 600px) {
    footer {
        background: transparent;
    }

    .footer-menu ul {
        display: flex;
    }

    .footer-content h3 {
        font-size: 1rem;
    }

    .footer-bottom p,
    .footer-menu {
        font-size: 0.99rem;
    }
}